body, html {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Righteous', 'Cascadia Code SemiBold', 'Jaro', 'Poetsen One', 'Arial' sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1{
    text-align: center;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
}
#chat-outline{
    height: 80%; /* 원하는 높이로 조정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background: white;
    z-index: 1;
    border: 2px solid #BCCBFF;
    border-radius: 10px;
}
#chat-container,
.send-container {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
#chat-container {
    height:100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: scroll;
    overflow-y: hidden;
}
#chat-container:hover {
    overflow-y: auto; /* Display the vertical scrollbar on hover */
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
.message {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
}
.customer {
    background-color: #4765FF; /* 고객 메시지 배경색 */
    color: white;
    font-family: 'Malgun Gothic';
    align-self: flex-start;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}
.ai {
    background-color: #BCCBFF; /* AI 메시지 배경색 */
    color: black;
    font-family: 'Malgun Gothic';
    align-self: flex-end;
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
}
/*보내기 버튼*/
.send-container{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    height: auto;
    border-top: 2px solid #BCCBFF;
}
#message-input {
    width: calc(100%);
    padding: 10px;
    box-sizing: border-box; /* input field와 button이 같은 라인에 있도록 함 */
    height: 50px; /* 텍스트 입력 필드의 높이 설정 (상하 여백 포함) */
    border: none;
}
#send-btn {
    background-image: url('send_icon.png');
    background-size: 50%;
    width: 50px;
    height: 50px; /* 버튼의 높이 설정 (상하 여백 포함) */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #BCEFFF;
    color: white;
    border: none;
    cursor:pointer;
}
#send-btn:hover {
    background-color: #71acec;
    cursor: pointer;
}
.menu-container{
    margin-left: 10px;
    margin-right: auto;
}


/*배경의 원 설정*/

.circle {
    position: relative;
    border-radius: 50%;
    opacity: 0.7;
    z-index: -1;
}

.winterblue {
    position: absolute;
    background-color: #4765FF;
    width: 200px;
    height: 200px;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.springlightblue {
    position: absolute;
    background-color: #BCEFFF;
    opacity: 0.5;
    width: 300px;
    height: 300px;
    top: 0%;
    left: 50%;
    transform: translate(30%, -50%);
}

.summerlightblue {
    position: absolute;
    background-color:  #BCCBFF;
    opacity: 0.5;
    justify-content: center;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.autumnmuteblue {
    position: absolute;
    background-color: #9EB9E3;
    width: 140px;
    height: 140px;
    opacity: 0.5;
    right: 75%;
    bottom:10%;
    transform: translate(30%, 30%);
}
.summermuteblue{
    background-color: #C1E0EA;
    width: 90px;
    height: 90px;
    opacity: 0.5;
    bottom: -30%;
    left: 10%;
    transform: translate(100%, 100%);
}
.grey{
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    top: 10%;
    transform: translate(50%, 200%);
}


@media only screen and (max-width: 600px) {
    body, html {
        overflow: hidden;
        font-size: 14px; /* 모바일 환경에 맞게 폰트 크기를 조정할 수 있습니다. */
    }

    #chat-outline {
        width: 100%; /* 모바일 화면에 맞게 채팅 창의 너비를 조정합니다. */
        height: 80%;
    }

    .winterblue {
        width: 150px;
        height: 150px;
    }
    
    .springlightblue {
        width: 200px;
        height: 200px;
    }
    
    .summerlightblue {
        width: 250px;
        height: 250px;
    }
    
    .autumnmuteblue {
        width: 100px;
        height: 100px;
    }
    
    .summermuteblue {
        width: 70px;
        height: 70px;
    }
    
    .grey {
        width: 70px;
        height: 70px;
    }


}


